@import url(https://fonts.googleapis.com/earlyaccess/notosanskannada.css);

*
{
    box-sizing: border-box;
}

html, body
{
    font-family: 'Noto Sans Kannada', sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #fafafa;
    font-size: 12pt;
}

.question-container
{
    padding: 20px;
}

.question-counter
{
    font-weight: bold;
    font-size: 16pt;
}

.question, .question-counter
{
    margin-bottom: 20px;
    text-align: center;
}

header
{
    margin: 0;
    width: 100%;
    text-align: center;
    height: 61px;
    vertical-align: middle;
    color: #fff;
    line-height: 69px;
    font-weight: bold;
    background-color: #1e87f0;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, .18);
}

ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.possibility
{
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.possibility-value
{
    padding-left: 10px;
}

.indicator
{
    border-radius: 50%;
    background-color: #ccc;
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}

.selected
{
    background-color: #1e87f0;
}

.button
{
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #1e87f0;
    border-radius: 6px;
    border: 0;
    color: #fff;
    font-weight: bold;
}

.button:hover
{
    background-color: #61abf4;
}

.percentage-score
{
    font-weight: bold;
    font-size: 32pt;
}

.text-center
{
    text-align: center;
}