<template>
    <div class="container">
        <header>소라의 신과함께 퀴즈</header>
        <div v-if="question" class="question-container">
            <div v-if="question.bonus" class="question-counter">보너스 질문:</div>
            <div v-else class="question-counter">질문 {{ question.number }}:</div>
            <div class="question">{{ question.question }}</div>
            <div class="possibilities">
                <ul>
                    <li @click="answer = p" class="possibility" v-for="(p, index) in question.possibilities" :key="index">
                        <div class="indicator" :class="{ 'selected': p == answer }" />
                        <span class="possibility-value">{{ p }}</span>
                    </li>
                </ul>
            </div>
            <button type="button" class="button" @click="submitAnswer">확인</button>
        </div>
        <div v-else class="question-container text-center">
            <div class="percentage-score">{{ percentageScore }}%</div>
            <span v-if="percentageScore >= 60">패스! 숙제 잘 했네... 요리 쿠폰 하나 받아!</span> 
            <span v-else>오마이... 2편 어떻게 볼 수 있겠어? ㅋㅋㅋㅋㅋㅋㅋㅋㅋ</span> 
        </div>
    </div>
</template>

<script>
export default {
    name: "MainPage",
    data: function()
    {
        return {
            answer: "",
            currentQuestion: 0,
            score: 0,
            bonusScore: 0,
            questions: [{
                bonus: false,
                number: 1,
                question: "신과함께 1편의 타이틀 뭡니까?",
                answer: "죄와 벌",
                possibilities: [
                    "죄와 벌",
                    "차사의 기회",
                    "돈과 욕심",
                    "인과 연"
                ]
            }, {
                bonus: false,
                number: 2,
                question: "저승의 죄 몇개 있습니까?",
                answer: "7개",
                possibilities: [
                    "4개",
                    "5개",
                    "6개",
                    "7개"
                ]
            }, {
                bonus: false,
                number: 3,
                question: "주인공을 도와주는 저승차사 몇명 있습니까?",
                answer: "3명",
                possibilities: [
                    "1명",
                    "2명",
                    "3명",
                    "4명"
                ]
            }, {
                bonus: false,
                number: 4,
                question: "살인지옥에서 귀인의 신중을 기하는 구형은 몇년입니까?",
                answer: "5년",
                possibilities: [
                    "5년",
                    "10년",
                    "20년",
                    "50년"
                ]
            },
            {
                bonus: false,
                number: 5,
                question: "선택중에 어느 죄가 일곱가지 저승의 죄중에 없습니까?",
                answer: "마약",
                possibilities: [
                    "배신",
                    "살인",
                    "마약",
                    "거짓"
                ]
            },
            {
                bonus: true,
                number: 6,
                question: "태산대왕 소개했을 때는 뭘 먹고 있었어요?",
                answer: "큰 롤리팝",
                possibilities: [
                    "감자튀김",
                    "큰 롤리팝",
                    "반반치킨",
                    "쌀국수"
                ]
            }]
        };
    },
    methods: {
        submitAnswer: function()
        {
            if(this.question.answer === this.answer)
            {
                if(this.question.bonus)
                {
                    this.bonusScore += 1;
                }
                else
                {
                    this.score += 1;
                }
            }

            this.answer = "";

            if(this.questions.length > this.currentQuestion)
            {
                this.currentQuestion += 1;
            }
        }
    },
    computed: {
        question: function(){
            if(this.currentQuestion < this.questions.length)
            {
                return this.questions[this.currentQuestion];
            }

            return null;
        },
        percentageScore: function()
        {
            return Math.round((this.score / this.questions.filter(function(q)
            {
                return !q.bonus;
            }).length) * 100) + this.bonusScore * 20;
        }
    }
}
</script>